html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

h1 {
  font-size: 4em;
}
h2 {
  color: grey;
}

body {
  height: 100%;
}

#Container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}

.Header {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  border-style: solid none none none;
  border-color: rgb(172, 169, 169);
  border-width: 3rem;
  min-width: 1600px;
}



.Header ul {
  text-decoration: none;
  list-style-type: none;
}

.Header ul li {
  display: inline-block;
  cursor: pointer;
}

.Header ul li:hover {
  text-decoration: underline;
}

.Header ul li:not(last-child) {
  padding-right: 1.875em;
}

.Banner {
  display: flex;
  flex-direction: column;
  background: url(./Images/plates-header.jpg) no-repeat center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.BreadCrumb {
  display: flex;
  justify-content: center;

  margin-bottom: 4em;
  border-top: solid rgb(219, 214, 214) 1px;
  width: 1600px;
}

.BreadCrumb div {
  margin-top: 3em;
}

.BannerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  color: white;
  background-color: rgb(49, 47, 47);
  height: inherit;
  border: solid white;
  border-width: 0rem 0.8em;
}

.BannerBox h1 {
  font-size: 3rem;
  display: inline-block;
  border-bottom: 2px solid white;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
}

.BannerBox p {
  margin: 0 3rem 0 3rem;
}

#Cart {
  padding-right: 0.86em;
  cursor: pointer;
}

#Cart:hover{
  color: #3f413f;
}

#Items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
  max-width: 1100px;
}

#ViewItem {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 1100px;
  height: 100%;
  text-align: center;
}

#ViewItem h1 {
  font-size: 3.5em;
}

#ViewImage {
  padding-right: 2em;
}

.Item {
  text-align: center;
  padding-bottom: 5em;
}

.Item img {
  height: 215px;
  width: 326px;
  padding-bottom: 1em;
  display: block;
  opacity: 1;
  transition: 0.5s ease-in;
  backface-visibility: hidden;
}

.Item h4 {
  padding-bottom: 0.5em;
}

.Overlay {
  transition: 0.5s ease-in;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.Item:hover img {
  opacity: 0.5;
}

.Item:hover .Overlay {
  opacity: 1;
}

.Overlay button {
  background-color: #3f413f;
  color: white;
  border: none;
  padding: 10px 26px;
  font-size: 16px;
  cursor: pointer;
}

.Overlay button:first-child {
  margin-bottom: 1em;
  background-color: #202020;
}

.Overlay button:hover {
  background-color: #5b5c5b;
  color: #202020;
  transition: 0.2s ease-in-out;
}

.Overlay div:target {
  display: block;
}

.ImageContainer {
  position: relative;
}


.Cart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Cart h1{
  margin-top: 1em;
}

.CartItems {
  margin-top: 5em;
  min-width: 1100px;
}

.Headers {
  display: grid;
  
}

.Product {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: 3.5em;
}

.Quantity {
  grid-column-start: 4;
  justify-self: center;
  align-self: baseline;
  grid-row-start: row1;
  grid-row-end: row3-start;
}
.Total {
  grid-column-start: 5;
  justify-self: center;
  align-self: baseline;
  grid-row-start: row1;
  grid-row-end: 3;
}
.Action {
  grid-column-start: 6;
  justify-self: center;
  align-self: baseline;
  grid-row-start: row1;
  grid-row-end: 3;
}

.ShoppingCartItem {
  display: flex;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
  border-top: rgb(228, 228, 228) solid 0.5px;
  padding-left: 3.2em;
  padding-right: 4.2em;
}
.ShoppingCartItemFalse{
  display: none;
}

.ShoppingCartItem img {
  height: 80px;
  width: 120px;
}

.CartOverView {
  margin-top: 2em;
  grid-column-start: 1;
  grid-column-end: 7;
}
.CheckOut {
  grid-column-start: 1;
  grid-column-end: 7;
}

.CheckOut h2 {
  text-decoration: underline;
  cursor: pointer;
}
.ItemImage{
  display: flex;

}

.ItemImage img{
  padding: .7em .7em .7em 0;
}

.ItemImage h2{
  height: fit-content;
  padding-bottom: .2em;
}

.ItemImage div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ItemImage div  h2 {
  display: inline-block;
  width: 17.5em;
}

.CartOverView{
  display: flex;
  border-top: rgb(228, 228, 228) solid 0.5px;
  padding-top:1.5em;
  flex-direction: row;
  justify-content: flex-end;


}

.CartOverView div:first-child{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  padding-right: 8.5em;
}

.CartOverView div:last-child{
  display: flex;
  text-align: right;
  flex-direction: column;
  width: fit-content;
  justify-content: flex-end;
  padding-right: 4.7em;
}

.QuantityContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.QuantityCount{
  background-color: rgb(212, 212, 212);
  padding: .7em;
}

.QuantityButtons{
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.Button {
  background-color: black;
  color: white;
  border-style: unset;
  padding: .8em;
  cursor: pointer;
}

.Button:active{
  background-color: thistle;
  transition: ease-in-out;
}

.CheckOut{
  display: flex;
  border-top: rgb(228, 228, 228) solid 0.5px;
  padding-top: 1em;
  padding-right: 3em;
  padding-left:3em;
  flex-direction: row;
  margin-top: 3em;
  align-content: center;
  justify-content: space-between;
}

.CartSelected {
  display: none;
}

#CartSelected{
  display:none;
}